<div class="container">
<h1>Sign Up</h1>
<%= form_for @user do |f| %>
     <div class="form-group">
       <%= f.label :firstname %>
       <%= f.text_field :firstname %>
     </div>
     <div class="form-group">
       <%= f.label :lastname %>
       <%= f.text_field :lastname %>
     </div>
     <div class="form-group">
       <%= f.label :email %>
       <%= f.email_field  :email %>
     </div>
     <div class="form-group">
       <%= f.label :password %>
       <%= f.password_field :password %>
     </div>
     <div class="form-group">
       <%= f.label :confirm_password %>
       <%= f.password_field :comfirm_password %>
     </div>
     <%= submit_tag "Sign Up", class: "btn btn-primary" %>
<% end %>

