<p id="notice"> <%= notice %></p>

<% if @posts.nil? || @posts.empty? %>
	<div class = "empty_search_result">
		<p> Sorry nothing is found, please try advance search </p>
		<div class= "search_bar">
			<%= form_tag posts_path, :method => 'get' do %>
			<%= text_field_tag 'search',nil, placeholder: 'Find your book here' %>
			<%= submit_tag "search" %>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="container search_result">
		<%= render @posts %>
	</div>
<%= will_paginate @posts %>
<% end %>

<%= link_to 'New Post', new_post_path %>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <p>Some text in the Modal..</p>
  </div>

</div>